@import "tailwindcss";

:root {
  --bg: #070b14;
  --card: rgba(255,255,255,0.05);
  --border: rgba(255,255,255,0.08);

  --primary: #22c55e;
  --secondary: #06b6d4;
  --accent: #3b82f6;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg);
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}